<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wuy.dao.ResourceMapper">
    <select id="findAllResource" resultType="com.wuy.bean.user.Resource">
        select * from resource
        <where>
            <if test="name != null">
                and name like concat('%',#{name},'%')
            </if>
            <if test="url != null">
                and url = url
            </if>
            <if test="categoryId != null">
                and category_id = #{categoryId}
            </if>
        </where>
    </select>

    <select id="findAllResourceCategory" resultType="com.wuy.bean.user.ResourceCategory">
        select * from  resource_category
    </select>

    <insert id="saveResource">

    </insert>

    <update id="updateResource">

    </update>
</mapper>