<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wuy.dao.UserMapper">


    <select id="findAllUserByPage" resultType="com.wuy.bean.user.User">
        SELECT * FROM USER
        <where>
            <if test="true">
                and is_del != 1
            </if>
            <if test="username != null">
                and name = #{username}
            </if>
            <if test="startCreateTime != null and endCreateTime != null">
                and create_time BETWEEN #{startCreateTime} AND #{endCreateTime}
            </if>
        </where>
    </select>

    <update id="updateUserStatus">
        update user set status=#{status} where id=#{id}
    </update>

    <select id="login" resultType="com.wuy.bean.user.User">
        select * from user where phone = #{phone}
    </select>

    <select id="findUserRelationRoleById" resultType="com.wuy.bean.user.Role">
        SELECT
            r.id,r.code, r.name,r.description
        FROM roles r INNER JOIN user_role_relation ur ON r.`id` = ur.`role_id`
        WHERE  ur.`user_id` = #{id}
    </select>

    <delete id="deleteUserContextRole">
        delete from user_role_relation where user_id=#{userId}
    </delete>

    <insert id="userContextRole" >
        insert into user_role_relation values(null,#{userId},#{roleId},
         #{createdTime},#{updatedTime},#{createdBy},#{updatedby})
    </insert>

    <!-- 根据角色id,查询角色拥有的顶级菜单信息 -->
    <select id="findParentMenuByRoleId" parameterType="java.util.List"
            resultType="com.wuy.bean.user.Menu">
        SELECT
        DISTINCT m.*
        FROM roles r INNER JOIN role_menu_relation rm ON r.`id` = rm.role_id
        INNER JOIN menu m ON rm.menu_id = m.id
        WHERE m.parent_id = -1 AND r.id IN
        <foreach collection="list" item="item" open="(" separator=","
                 close=")">
            #{item}
        </foreach>
    </select>

    <select id="findSubMenuByPid" resultType="com.wuy.bean.user.Menu">
        select * from menu where parent_id = #{pid}
    </select>

    <select id="findResourceByRoleId" resultType="com.wuy.bean.user.Resource">
        select *
        from roles r inner join role_resource_relation rrr on r.id=rrr.role_id
        inner join resource rc on rrr.resource_id = rc.id
        where r.id in
        <foreach collection="list" item="item" open="(" separator="," close=")">
            #{item}
        </foreach>
    </select>


</mapper>